@font-face {
  font-family: 'Brandon Text Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Text Bold'), url('../fonts/BrandonTextBold.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Text Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Text Regular'), url('../fonts/BrandonTextRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Text Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Text Medium'), url('../fonts/BrandonTextMedium.otf') format('opentype');
}
