$appPrimary: #337ab7;
$white: #ffffff;
$black: #000000;
$appRed: #ff6464;
$appGreen: #449d44;
$appRegularFont: "Brandon Text Regular";
$appBoldFont: "Brandon Text Bold";
$appMediumFont: "Brandon Text Medium";
$appOrange: #eea236;
