// Style Overrides using !important are required here
// As JavaScript adds inline styles

.ReactModal__Overlay {
    z-index: 99;
    background-color: rgba(76, 76, 76, 0.75) !important;
}
.ReactModal__Content {
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    border: none !important;
    background: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 50px);
    display: table;
    max-width: calc(100% - 40px);
    .modal-container {
        height: 100%;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        .modal-header {
            line-height: 36px;
            background-color: $appPrimary;
            padding: 0 20px;
            color: white;
            height: 36px;
            border-radius: 4px 4px 0 0;
        }
        .modal-content {
            border: 1px solid #eeeeee;
            border-top: none;
            padding: 15px;
            background-color: $white;
            border-radius: 0 0 4px 4px;
            line-height: 18px;
            max-height: 500px;
            overflow: auto;
        }
        .icon-cross {
            line-height: 36px;
            font-size: 10px;
            float: right;
            cursor: pointer;
        }
    }
}
